@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    padding: 5px;
    margin: 15px 0 0;
    text-align: center;
    position: relative
}

li::before {
    content: '';
    position: absolute;
    bottom: -5%;
    left: -5%;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transition: all .4s ease-in;
}

li:hover::before {
    width: 100%;
    height: 0;
    left: 0;
}

li::after {
    content: '';
    position: absolute;
    top: -5%;
    right: -5%;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    border-bottom: none;
    border-left: none;
    transition: all .4s ease-in;
}

li:hover::after {
    width: 100%;
    height: 0;
    right: 0;
}